.main {
  height: 96vh;
}

.question-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* some common button css , we can create btn css for this */

.btn {
  border: none;
  background: #ff4007;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background: #d63807;
}

.btn.disable {
  background: gray;
}

/* component css, we can create component.css file for this */

.option {
  padding: 10px 0;
  border-bottom: 1px solid #e0cdcd;
}

.result-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.result-list {
  width: 50%;
  list-style-type: none;
  margin-top: 4rem;
}

.result-item {
  padding: 1rem;
  margin: 10px;
  margin-bottom: 1px solid gray;
  border: 1px solid gray;
}

.result-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

/* some common css files, we can different file for this */

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.position-fixed {
  position: fixed;
}
